.FinalComponent-commonDiv{
    width: 100vw;
    height: 100vh;
    background: rgb(15,2,54);
    background: radial-gradient(circle, rgba(15,2,54,0.9051995798319328) 5%, rgba(8,13,62,1) 33%);
    padding-top: 10px;
}
.FinalComponent-commonDiv--AllStar{
    padding-top: 10rem;
    margin: 0 auto;
    width: 70%;
    border: 5px solid grey;
    padding:10px;
    display: flex;
    justify-content: space-around;

}
.FinalComponent-gold {
    width: 100px;
    height: 100px; 
    display: block;
    background-image: url('./star-1586412_960_720.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: rgba(209, 88, 88, 0.856);
}
.FinalComponent-silver{
    width: 100px;
    height: 100px; 
    display: block;
    background-image: url('./silver.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.FinalSpanCenter{
    position: relative;
    left: 50;
    top :50;

}
.FinalComponent-Title{
    color:orangered;
    font-size: 5rem;
    font-weight: 700;
}
.FinalComponent-scoreDiv{
    display: flex;
    align-items: center;
    margin-top: 5rem;
}
.FinalComponent-score{
    color:white;
    font-size: 7rem;
    font-weight: 800;
    margin-left: 10rem;
}