.FinalComponent-commonDiv{
    position: absolute;
    right: 0;
    width: 88%;
    height: 100vh;
    padding-top: 10px;
}
.FinalComponent-commonDiv--AllStar{
    margin: 0 auto;
    width: 50%;
    height: 20vh;
    /* border: 5px solid grey; */
    padding:10px;
    display: flex;
    justify-content: space-around;

}
.FinalComponent-gold{
    width: 18%;
    height: 100%;
    display: block;
    background-image: url('https://cdn2.iconfinder.com/data/icons/greenline/512/star-512.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* box-shadow: rgba(209, 88, 88, 0.856); */
}
.FinalComponent-silver{
    width: 18%;
    height: 100%; 
    display: block;
    background-image: url('https://i.ibb.co/mTx0K6L/star-512-grey.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.FinalSpanCenter{
    position: relative;
    left: 50;
    top :50;

}
.FinalComponent-Title{
    color:#407da1;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
    box-shadow: 0 1px 5px #ccc;
    padding: .5rem 1.5rem;
    border-radius: 8px;
}
.FinalComponent-scoreDiv{
    margin:  1rem auto 0;
    width: 50%;
}
.FinalComponent-score{
    /* display: inline-block; */
    font-size: 1.5rem;
    font-weight: 800;
    /* margin-left: 10rem; */
    padding: 1rem 0;
}

.FinalComponent--btn {
    display: block;
    background-color: #407da1;
    padding: 1rem;
    text-transform: uppercase;
}