.Keyboard {
  background-color: #eee;
  /* padding: 1rem; */
  min-height: 35rem;
  max-width: 42.3rem;
  margin: 0 auto;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(45deg);
  transform-origin: 0 0;

  border-radius: 10px;
  box-shadow: 0 3px 21px #aaa;
}

.touchpad {
  width: 18rem;
  height: 12rem;
  background-color: #aaa;
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  box-shadow: inset 0 0 10px 2px #999;
}

.key {
  width: 39px;
  height: 40px;
  position: absolute;
  left: 0;
  line-height: 40px;
  text-align: center;
  font-size: .8rem;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.1), inset 0 0 2px rgba(255,255,255,0.5);
  border: 1px solid rgba(112,112,112,0.5);
  border-radius: 5px;
  background-clip: padding-box;
  font-weight: bold;
  color: #333;
}

.key sup {
  font-size: 90%;
  margin: 2px;
  top: -0.5rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.key-tab, .key-8, .key-backspace {
  width: 66px;
  font-size: .7rem;
  text-transform: capitalize;
}

.key-13 {
  width: 67px;
  /* border-bottom-right-radius: 5px; */
  font-size: .7rem;
  text-transform: capitalize;
}

.key-20 {
  width: 82px;
  font-size: .7rem;
  text-transform: capitalize;
}

.key-lshift {
  width: 104px;
  font-size: .7rem;
  text-transform: capitalize;
}

.key-32 {
  width: 246px;
}

.key-rshift {
  width: 90px;
  font-size: .7rem;
  text-transform: capitalize;
}

.key-fn, .key-ctrl, .key-lalt, .key-lmeta, .key-rmeta, .key-ralt {
  font-size: .7rem;
  text-transform: capitalize;
}

.key-darrow, .key-uarrow {
  height: 20px;
  line-height: 20px;
}

.key-96 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 20, 35, 1, 1)
  }
.key-49 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 64, 35, 1, 1)
  }
.key-50 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 108, 35, 1, 1)
  }
.key-51 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 152, 35, 1, 1)
  }
.key-52 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 196, 35, 1, 1)
  }
.key-53 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 240, 35, 1, 1)
  }
.key-54 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 284, 35, 1, 1)
  }
.key-55 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 328, 35, 1, 1)
  }
.key-56 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 372, 35, 1, 1)
  }
.key-57 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 416, 35, 1, 1)
  }
.key-48 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 460, 35, 1, 1)
  }
.key-45 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 504, 35, 1, 1)
  }
.key-61 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 548, 35, 1, 1)
  }
.key-8 {
 transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 592, 35, 1, 1)
 }
.key-tab {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 20, 84, 1, 1)
  }
.key-113 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 89, 84, 1, 1)
  }
.key-119 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 133, 84, 1, 1)
  }
.key-101 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 177, 84, 1, 1)
  }
.key-114 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 221, 84, 1, 1)
  }
.key-116 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 265, 84, 1, 1)
  }
.key-121 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 309, 84, 1, 1)
  }
.key-117 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 353, 84, 1, 1)
  }
.key-105 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 397, 84, 1, 1)
  }
.key-111 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 441, 84, 1, 1)
  }
.key-112 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 485, 84, 1, 1)
  }
.key-91 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 529, 84, 1, 1)
  }
.key-93 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 573, 84, 1, 1)
  }
.key-92 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 617, 84, 1, 1)
  }
.key-20 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 20, 133, 1, 1)
  }
.key-97 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 106, 133, 1, 1)
  }
.key-115 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 150, 133, 1, 1)
  }
.key-100 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 194, 133, 1, 1)
  }
.key-102 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 238, 133, 1, 1)
  }
.key-103 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 282, 133, 1, 1)
  }
.key-104 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 326, 133, 1, 1)
  }
.key-106 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 370, 133, 1, 1)
  }
.key-107 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 414, 133, 1, 1)
  }
.key-108 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 458, 133, 1, 1)
  }
.key-59 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 502, 133, 1, 1)
  }
.key-39 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 546, 133, 1, 1)
  }
.key-13 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 590, 133, 1, 1)
  }
.key-lshift {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 20, 182, 1, 1)
  }
.key-122 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 128, 182, 1, 1)
  }
.key-120 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 172, 182, 1, 1)
  }
.key-99 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 216, 182, 1, 1)
  }
.key-118 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 260, 182, 1, 1)
  }
.key-98 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 304, 182, 1, 1)
  }
.key-110 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 348, 182, 1, 1)
  }
.key-109 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 392, 182, 1, 1)
  }
.key-44 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 436, 182, 1, 1)
  }
.key-46 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 480, 182, 1, 1)
  }
.key-47 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 524, 182, 1, 1)
  }
.key-rshift {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 568, 182, 1, 1)
  }
.key-fn {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 20, 230, 1, 1)
  }
.key-ctrl {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 64, 230, 1, 1)
  }
.key-lalt {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 108, 230, 1, 1)
  }
.key-lmeta {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 152, 230, 1, 1)
  }
.key-32 {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 196, 230, 1, 1)
  }
.key-rmeta {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 446, 230, 1, 1)
  }
.key-ralt {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 490, 230, 1, 1)
  }

.key-larrow {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 534, 230, 1, 1)
}
.key-uarrow {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 576, 230, 1, 1)
}
.key-darrow {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 576, 251, 1, 1)
}
.key-rarrow {
  transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0,  1, 0, 618, 230, 1, 1)
}