.InputArea {
  min-height: 43vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.InputArea__sample {
  width: 99%;
  /* padding: 0 .2rem; */
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.InputArea__sample:focus {
  outline: none;
  border-radius: 5px;
}

.cursor {
	display: inline-block;
	background-image: url('https://vignette.wikia.nocookie.net/zombidle/images/8/86/Vinque-sign-underscore.png/revision/latest?cb=20170319101043');
	width: 1.2rem;
	height: 1.5rem;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom;
	animation: blinker 1.5s cubic-bezier(1,0,0,1) infinite;

	position: relative;
  /* left: -5px; */
  bottom: -10px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.valid {
  /* background-color: green;
  outline: solid 0.1rem green;
  color: white; */
 }
 
 .invalid {
  background-color: red;
  outline: solid 0.1rem red;
  color: white;
 }

 .InputArea__sample:focus .underline {
  text-decoration: underline;
  animation: blink-animation 1s infinite;
}

 /* .underline {
  text-decoration: underline;
  animation: blink-animation 1s infinite;
 } */
 .noUnderline { 
  text-decoration: none;
  /* box-shadow: none; */
 }

 .whiteSpace {
   white-space: pre;
 }


 @keyframes blink-animation {
  to {
    text-decoration: none;
    
  }
}
/* @-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
} */

.pressed {
  /* animation: keypress .3s 1; */
  /* background-color: transparent; */
  background-color: #ccc;

}

@keyframes keypress {
  to {
  background-color: #ccc;
  }
}