* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .1px;
}
.loader-plane{
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}